* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(assets/main-bg.jpg);
}

.jumbotron {
  background-image: url(assets/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.jumbotron h1 {
  padding-top: 200px;
  color: whitesmoke;
  font-size: 5.5vmax;
}

.jumbotron h2 {
  margin-top: 20px;
  color: whitesmoke;
  font-size: 2.4vmax;
}

.jumbotron a {
  margin-top: 20px;
  padding: 15px 20px;
  text-align: center;
  font-size: 1.5vmax;
  width: 14.7vmax;
  transition-duration: 0.4s;
}

.jumbotron a:hover {
  background-color: blanchedalmond;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.games {
  background-image: url(assets/the-games-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.sub-games {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vmax;
  padding-top: 100px;
  text-align: left;
}

.main-games {
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 5.5vmax;
  text-align: left;
}

#carouselExampleIndicators {
  width: 90vmin;
}

.features {
  background-image: url(assets/features.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.sub-features {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 100px;
  font-size: 2vmax;
  text-align: left;
}

.main-features {
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-top: 25px;
  font-size: 5.5vmax;
  text-align: left;
}

.list-features {
  color: whitesmoke;
  margin-top: 20px;
  width: 360px;
  border-left: 2px solid;
  padding: 0 20px 0 30px;
}

.list-features div {
  padding: 10px 25px;
  font-size: 16px;
  line-height: 1.7;
  position: relative;
  height: 100px;
  margin-bottom: 20px;
}

.list-features div:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  border: 3px solid;
  position: absolute;
  top: 10px;
  left: -40px;
}

.list-features h3 {
  color: orange;
  width: 300px;
}

.list-features p {
  color: whitesmoke;
  width: 300px;
}

.requirements {
  background-image: url(assets/requirements.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.main-requirements {
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 5.5vmax;
  text-align: left;
}

.sub-requirements {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vmax;
}

.table-requrements span {
  color: orange;
  font-size: 20px;
}

table td {
  border: 1px solid rgb(220, 220, 220, 0.3);
  text-align: left;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 80vmin;
}

td {
  color: whitesmoke;
  padding: 30px;
}

.score {
  background-image: url(assets/top-score-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.main-score {
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 5.5vmax;
  text-align: left;
}

.sub-score {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vmax;
  text-align: left;
}

.score a {
  margin-top: 10px;
  padding: 15px 24px;
  text-align: center;
  font-size: 1.7vmax;
  width: 14.7vmax;
  transition-duration: 0.4s;
}

.score a:hover {
  background-color: blanchedalmond;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  background-color: rgb(32, 32, 32);
  width: 60vmin;
  height: 150px;
  text-align: left;
}

.card-top {
  padding-bottom: 10px;
}

.card-mid {
  margin-left: 150px;
}

.card-low {
  padding-top: 10px;
}

.card-title {
  color: orange;
  font-size: 20px;
}

.card-profile {
  color: darkgrey;
  font-size: 12px;
}

.card-text {
  color: whitesmoke;
  font-size: 12px;
  width: 250px;
}

.card-time {
  color: grey;
  font-size: 12px;
}

.subscribe {
  background-image: url(assets/subscribe-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.sub-subscribe {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vmax;
  padding-top: 20px;
  text-align: left;
}

.main-subscribe {
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 5.5vmax;
  text-align: left;
}

.text-subscribe {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 20px;
  text-align: left;
}

.form-email {
  color: orange;
}

.form-control {
  background-color: rgb(32, 32, 32);
  width: 50vmax;
}

.subscribe button {
  margin-top: 10px;
  padding: 15px 24px;
  text-align: center;
  font-size: 1.5vmax;
  width: 17.8vmax;
  transition-duration: 0.4s;
}

.subscribe button:hover {
  background-color: blanchedalmond;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  width: 100%;
  background-color: rgb(32, 32, 32);
  color: #fff;
  padding: 1px;
  font-size: 15px;
}

.copyright {
  color: grey;
}

@media (min-width: 992px) {
  .nav-main {
    margin-left: 50px;
  }

  .nav-link {
    margin-left: 30px;
  }

  #carouselExampleIndicators {
    width: 50vmax;
    float: right;
  }

  .sub-features {
    margin-left: 650px;
  }

  .main-features {
    margin-left: 645px;
  }

  .list-features {
    margin-left: 650px;
  }

  .sub-requirements {
    margin-top: -150px;
    text-align: center;
  }

  table {
    margin-top: 150px;
  }

  .main-score {
    padding-top: 150px;
  }

  .sub-score {
    width: 40vmax;
  }

  .card-body {
    width: 65vmin;
    height: 170px;
    text-align: left;
  }

  .col-3 {
    margin-top: -350px;
    margin-left: 750px;
  }

  .card-top {
    padding-bottom: 380px;
  }

  .card-mid {
    margin-left: -150px;
  }

  .card-low {
    padding-top: 380px;
  }

  .card-title {
    font-size: 2vmax;
  }

  .card-profile {
    font-size: 1vmax;
  }

  .card-text {
    font-size: 1vmax;
    width: 350px;
  }

  .card-time {
    font-size: 1vmax;
  }

  .sub-subscribe {
    margin-left: 600px;
  }

  .main-subscribe {
    margin-left: 595px;
  }
  .text-subscribe {
    margin-left: 600px;
  }

  .form-email {
    margin-left: 30px;
  }

  .form-control {
    margin-left: 30px;
    width: 25vmax;
  }

  .subscribe button {
    margin-left: 30px;
    font-size: 1.5vmax;
    width: 13.8vmax;
  }

  .privacy {
    margin-top: -43px;
    text-align: right;
  }
}
